*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Noto Sans",'Noto Sans KR',"Nanum Gothic",sans-serif;
    font-size: 12px;
}
a:visited,a:link{
    text-decoration: none;
    color: inherit;
}
ul,li{
    list-style: none;
}
.wrap{
    margin: 0 auto;
    width: 1140px;
}
/* 글씨 슬라이드 부문 */

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
  }
  
  
  .c2 {
    height: 400px;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  
  .slide-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .slide {
    position: absolute;
    display: none;
    z-index: 0;
  }
  .slide.enabled {
    display: block;
  }
  
  .slide-big-text p {
    margin: 0;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.35;
    letter-spacing: -1.5px;
    word-spacing: 1.5px;
    text-align: center;
  }
  
  
  .slide-small-text {
    margin-top: 20px;
    margin-left: 5px;
  }
  
  .slide-small-text p {
    font-size: 18px;
    margin: 0;
  }
  
  .scdown {
    position: absolute;
    padding: 30px 0;
    width: 100%;
    height: 50px;
    text-align: center;
    bottom: 0px;
  }
  
   /* .scdown-text {
     transform: translate(0, 20vh); 
  } */
/* 글씨 슬라이드 부문 */
header{
    border-top: 4px orangered solid;
    position: relative;
}
header>#gnb_top{
    background-color: #f4f4f6;
}
header>#gnb_top>.wrap{
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    
}
header>#gnb_top>.wrap>.utill{
    display: flex;
    justify-content: space-between;
    width: 425px;

}

header>#gnb_top>.wrap #sns{
    display: flex;
    justify-content: space-between;
    width: 119px;
    
}
header>#gnb_top>.wrap #top_link{
    display: flex;
    justify-content: space-between;
    width: 270px;
}
header>#gnb_top>.wrap #top_link>a{
    
    color: #666;
    background-color: #fff;
    font-size: 13px;
    border: 1px  solid #dedede;
    line-height: 23px;
    height: 23px;
    border-radius: 3px;
    width: 65px;
    text-align: center;
}
header>#gnb_top>.wrap #top_link>.lang>a{
    text-align: center;
    color: #666;
    font-size: 13px;
    display: block;
    border: 1px  solid #dedede;
    height: 22px;
    line-height: 22px;
    width: 52px;
}
header>#gnb_top>.wrap #top_link>.lang>ul{
    display: none;
}


header>.main_header{
    border-bottom: 2px solid #dedede;
}
header>.main_header .wrap{
    height: 95px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#gnb{
    display: flex;
    width: 972px;
    justify-content: space-around;
    height: 65px;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    padding-top: 20px;
}
#gnb>li{
    position: relative;
}
#gnb>li>a{
    z-index: 9;
    display: block;
    text-align: center;
    line-height: 65px;
    height: 65px;
    width: 100px;
}
#gnb>li:hover>a{
    border-bottom: 3px solid orange;
}
#gnb .sub{
    position: absolute;
    display: none;
    height: 307px;
    z-index: 9;
}
#m_back{
    display: none;
    top: 142px;
    position: absolute;
    z-index: 6;
    height: 307px;
    width: 100%;
    background-color: #fff;
    border-bottom: #666 1px solid;
}
#gnb .sub>li>a{
    display: block;
    color: #867d77;
    font-size: 15px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    width: 100px;
}
#gnb .sub>li>a:hover{
    color: black;
}
#slide{
    position: relative;
    height: 592px;
    overflow: hidden;
}
#slide>div{
    display: none;
    width: 100%;
    position: absolute;
}
#slide>div img{
    display: block;
    object-fit: cover;
    width: 100%;
}
#slide>div:first-child{
    display: block;
}
section>article>.wrap{
    text-align: center;
}
section>article>.wrap>h3{
    color: #222;
    font-size: 46px;
    line-height: 46px;
    font-weight: 500;
    text-align: center;
}
section>article>.wrap>span{
    display: block;
    margin-top: 20px;
    color: #666;
    font-size: 22px;
    line-height: 22px;
    font-weight: 300;
}
section>article>.wrap>.main_text{
    margin-top: 50px;
    color: #222;
    font-size: 32px;
    line-height: 38px;

}
/* 메인 탭 */




section>article>.wrap>#main_tab{
    display: flex;
    width: 380px;
    justify-content: space-between;
}
section>article>.wrap #main_tab>li{
    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 81px;
    height: 115px;
}
#main_tab a{
    position: relative;
    display: block;
    width: 81px;
    height: 80px;
    overflow: hidden;
}
#main_tab a>img{
    position: absolute;
    left: 0;
}
section>article>.wrap #main_tab>li>a>img.tab_on{
    top:-80px !important;
}

section>article>.wrap .arrow{
    display: flex;
    padding: 30px;
    justify-content: center;
}

section>article>.wrap i{
    border: 1px solid black;
    width: 30px;
    margin: 20px;
    font-size: 2rem;
    color: #333;
}
section>article>.wrap .main_box1>div ,section>article>.wrap .main_box2>div ,section>article>.wrap .main_box3>div,section>article>.wrap .main_box4>div{
    width: 204px;
    display: inline-block;
}
.box_wrap2, .box_wrap3, .box_wrap4{
    display: none;
}
#community{
    background: #feebd1;
}
#community>.wrap{
    padding-bottom: 80px;
}
#community>.wrap>h3{
    padding-top: 50px;
}
#com_sns{
    padding-bottom: 30px;
}
#community>.wrap>span{
    padding-bottom: 50px;
}
.community_wrap{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
}
#community_l{
    width: 30%;
    height: 100%;
}
#community_m{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

}
#community_m h4,#community_r h4{
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}

#community_m p,#community_r p{
margin-top: 20px;
color: #fff;
font-size: 16px;
line-height: 20px;
font-weight: 300;
}
#community_m>div{
    padding-bottom: 50px;
}
#community_r{
    width: 30%;
}
.video{
    background-image: url(/images/vod_bg.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 50%;
}
.video>.video_text{
    padding: 30px;
}

.story{
    height: 30%;
    background: #91c749 url(/images/bg_comm_tab04.png) no-repeat right;
}
.story>.story_text,.recipe_text,.notice_text,.shop_text{
    padding: 30px;
}
#community_r{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#community_r>div{
    height: 33%;
}
#community_r .recipe{
    background: #6fc8e9;
}
#community_r .notice{
    background: #fff;
}
#community_r .notice>.notice_text h4{
    color: #222;
}
#community_r .notice>.notice_text p{
    color: #666;
}
#community_r .shop{
    background: #c38ef2;
}
footer{
    height: 185px;
}
footer>.wrap{
    display: flex;
    justify-content: space-around;
    height: 100%;
}
footer>.wrap>.footer_l{
    padding-top: 50px;
}

footer>.wrap>div{
    height: 100%;
}
footer .footer_menu{
    padding-bottom: 20px;
    color: #666;
    padding-top: 30px;
    display: flex;
    width: 450px;
    justify-content: space-between;
}
footer .footer_menu a{
    display: block;
    font-size: 14px;
}
footer>.wrap>.footer_m address{
    font-size: 12px;
    color: #999;
}
footer>.wrap>.footer_m p{
    color: #bbb;
    padding-top: 20px;
}
footer>.wrap>.footer_r{
    padding-top: 30px;
    display: flex;
    width: 440px;
    justify-content: space-between;
}
#footer_sns{
    width: 175px;
    display: flex;
    justify-content: space-around;
}
footer>.wrap>.footer_r .footer_family{
    display: flex;
    flex-direction: column;
}