*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
}
body{
    font-family: "Noto Sans",'Noto Sans KR',"Nanum Gothic",sans-serif;
    font-size: 12px;
}
a:visited,a:link{
    text-decoration: none;
    color: inherit;
}
ul,li{
    list-style: none;
}
.wrap{
    margin: 0 auto;
    width: 1140px;
}
/* 글씨 슬라이드 부문 */

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
  }
  
  
  .c2 {
    height: 400px;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  
  .slide-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .slide {
    position: absolute;
    display: none;
    z-index: 0;
  }
  .slide.enabled {
    display: block;
  }
  
  .slide-big-text p {
    margin: 0;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.35;
    letter-spacing: -1.5px;
    word-spacing: 1.5px;
    text-align: center;
  }
  
  
  .slide-small-text {
    margin-top: 20px;
    margin-left: 5px;
  }
  
  .slide-small-text p {
    font-size: 18px;
    margin: 0;
  }
  
  .scdown {
    position: absolute;
    padding: 30px 0;
    width: 100%;
    height: 50px;
    text-align: center;
    bottom: 0px;
  }
  
   /* .scdown-text {
     transform: translate(0, 20vh); 
  } */
/* 글씨 슬라이드 부문 */
header{
    border-top: 4px orangered solid;
    position: relative;
}
header>#gnb_top{
    background-color: #f4f4f6;
}
header>#gnb_top>.wrap{
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    
}
header>#gnb_top>.wrap>.utill{
    display: flex;
    justify-content: space-between;
    width: 425px;

}

header>#gnb_top>.wrap #sns{
    display: flex;
    justify-content: space-between;
    width: 119px;
    
}
header>#gnb_top>.wrap #top_link{
    display: flex;
    justify-content: space-between;
    width: 270px;
}
header>#gnb_top>.wrap #top_link>a{
    
    color: #666;
    background-color: #fff;
    font-size: 13px;
    border: 1px  solid #dedede;
    line-height: 23px;
    height: 23px;
    border-radius: 3px;
    width: 65px;
    text-align: center;
}
header>#gnb_top>.wrap #top_link>.lang>a{
    text-align: center;
    color: #666;
    font-size: 13px;
    display: block;
    border: 1px  solid #dedede;
    height: 22px;
    line-height: 22px;
    width: 52px;
}
header>#gnb_top>.wrap #top_link>.lang>ul{
    display: none;
}


header>.main_header{
    border-bottom: 2px solid #dedede;
}
header>.main_header .wrap{
    height: 95px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#gnb{
    display: flex;
    width: 972px;
    justify-content: space-around;
    height: 65px;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    padding-top: 20px;
}
#gnb>li{
    position: relative;
}
#gnb>li>a{
    z-index: 9;
    display: block;
    text-align: center;
    line-height: 65px;
    height: 65px;
    width: 100px;
}
#gnb>li:hover>a{
    border-bottom: 3px solid orange;
}
#gnb .sub{
    position: absolute;
    display: none;
    height: 307px;
    z-index: 9;
}
#m_back{
    display: none;
    top: 142px;
    position: absolute;
    z-index: 6;
    height: 307px;
    width: 100%;
    background-color: #fff;
    border-bottom: #666 1px solid;
}
#gnb .sub>li>a{
    display: block;
    color: #867d77;
    font-size: 15px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    width: 100px;
}
#gnb .sub>li>a:hover{
    color: black;
}
#main_slide_wrap{
    position: relative;
}
#slide{
    position: relative;
    height: 100%;
    display: block;
    height: 520px;
    
}
#main_slide_wrap>button{
    cursor: pointer;
    background: none;
    border-radius: 50%;
    border: #fff 1px solid;
    bottom: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 999;
}
#main_slide_wrap>button:hover{
    background-color: #eee;
}
#main_slide_wrap>button>i{
    font-size: 4rem;
    color: #fff;
}
#main_slide_wrap>.slick_prev{
    left: 10%;
}
#main_slide_wrap>.slick_next{
    right: 10%;
}
#slide>div{
    width: 100%;
    position: absolute;
}
#slide>div img{
    height: 507px;
    display: block;
    width: 100%;
}
#slide>div:first-child{
    display: block;
}
section>.product_wrap{
    display: block;
    background: url(../images/bg_product.jpg) no-repeat;
}
section>article>.wrap{
    text-align: center;
}
section>article>.wrap>h3{
    padding-top: 50px;
    color: #222;
    font-size: 46px;
    line-height: 46px;
    font-weight: 500;
    text-align: center;
}
section>article>.wrap>span{
    display: block;
    margin-top: 20px;
    color: #666;
    font-size: 22px;
    line-height: 22px;
    font-weight: 300;
}
section>article>.wrap>.main_text{
    margin-top: 50px;
    color: #222;
    font-size: 32px;
    line-height: 38px;

}
/* 메인 탭 */




section>article>.wrap>#main_tab{
    display: flex;
    width: 380px;
    justify-content: space-between;
}
section>article>.wrap #main_tab>li{
    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 81px;
    height: 115px;
}
#main_tab a{
    position: relative;
    display: block;
    width: 81px;
    height: 80px;
    overflow: hidden;
}
#main_tab a>img{
    position: absolute;
    left: 0;
}
section>article>.wrap #main_tab>li>a>img.tab_on{
    top:-80px !important;
}

section>article>.wrap .arrow{
    display: flex;
    padding: 30px;
    justify-content: center;
}

section>article>.wrap i{
    border: 1px solid black;
    width: 30px;
    margin: 20px;
    font-size: 2rem;
    color: #333;
}
section>article>.wrap .main_box1>div ,section>article>.wrap .main_box2>div ,section>article>.wrap .main_box3>div,section>article>.wrap .main_box4>div{
    width: 204px;
    display: inline-block;
}
.box_wrap2, .box_wrap3, .box_wrap4{
    display: none;
}
#community{
    background: #feebd1;
}
#community>.wrap{
    padding-bottom: 80px;
}
#community>.wrap>h3{
    padding-top: 50px;
}
#com_sns{
    padding-bottom: 30px;
}
#community>.wrap>span{
    padding-bottom: 50px;
}
.community_wrap{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
}
#community_l{
    width: 30%;
    height: 100%;
}
#community_l{
    height: 700px;
    border: #111 solid 1px;
}
#community_m{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

}
#community_m h4,#community_r h4{
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}

#community_m p,#community_r p{
margin-top: 20px;
color: #fff;
font-size: 16px;
line-height: 20px;
font-weight: 300;
}
#community_m>div{
    padding-bottom: 50px;
}
#community_r{
    width: 30%;
}
.video{
    background-image: url(/images/vod_bg.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 50%;
}
.video>.video_text{
    padding: 30px;
}

.story{
    height: 30%;
    background: #91c749 url(/images/bg_comm_tab04.png) no-repeat right;
}
.story>.story_text,.recipe_text,.notice_text,.shop_text{
    padding: 30px;
}
#community_r{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#community_r>div{
    height: 33%;
}
#community_r .recipe{
    background: #6fc8e9;
}
#community_r .notice{
    background: #fff;
}
#community_r .notice>.notice_text h4{
    color: #222;
}
#community_r .notice>.notice_text p{
    color: #666;
}
#community_r .shop{
    background: #c38ef2;
}
footer{
    height: 185px;
}
footer>.wrap{
    display: flex;
    justify-content: space-around;
    height: 100%;
}
footer>.wrap>.footer_l{
    padding-top: 50px;
}

footer>.wrap>div{
    height: 100%;
}
footer .footer_menu{
    padding-bottom: 20px;
    color: #666;
    padding-top: 30px;
    display: flex;
    width: 450px;
    justify-content: space-between;
}
footer .footer_menu a{
    display: block;
    font-size: 14px;
}
footer>.wrap>.footer_m address{
    font-size: 12px;
    color: #999;
}
footer>.wrap>.footer_m p{
    color: #bbb;
    padding-top: 20px;
}
footer>.wrap>.footer_r{
    padding-top: 30px;
    display: flex;
    width: 440px;
    justify-content: space-between;
}
#footer_sns{
    width: 175px;
    display: flex;
    justify-content: space-around;
}
footer>.wrap>.footer_r .footer_family{
    display: flex;
    flex-direction: column;
}


/* subpage company부문 */
#sub_title>.bg_sub_title{
    height: 240px;
    background: url(../images/sub_slide.jpg);
    text-align: center;
    color: #fff;
}
#sub_title>.bg_sub_title>h3{
font-size: 50px;
padding: 50px 0;
}
#sub_title>.bg_sub_title>span{
    font-size: 20px;
}
#sub_title>.sub_navi{
    border-bottom: solid 1px #eee;
    height: 50px;
}
#sub_title>.sub_navi>.wrap{
    display: flex;
    justify-content: flex-start;
}
#sub_title>.sub_navi>.wrap>.gnb_wrap{
    border-bottom: solid 1px #333;
}
#sub_title>.sub_navi>.wrap>.gnb>li{
    float: left;
}
#sub_title>.sub_navi>.wrap>.gnb>li>a{
    display: block;
    width: 160px;
    height: 50px;
    text-align: left;
    line-height: 50px;
    padding-left: 20px;
    font-size: 16px;
    color: #333;
    border: #eee solid 1px;
    border-spacing: 1px;
}
#sub_title>.sub_navi>.wrap>.gnb .sel_list{
    background: url(../images/sel_list.gif) no-repeat 138px center;
}
#sub_title>.sub_navi>.wrap>.gnb>li{
    position: relative;
}
#sub_title>.sub_navi>.wrap>.gnb>li>.submenu{
    position: absolute;
    z-index: 9;
    background-color: #fff;
    display: none;
}
#sub_title>.sub_navi>.wrap>.gnb>li>.submenu a{
    display: block;
    width: 160px;
    height: 35px;
    text-align: left;
    padding-left: 20px;
    line-height: 35px;
    font-size: 14px;
    color: #666;
    
}

#sub_title>.sub_navi>.wrap>.gnb>li>.submenu>li{
    border: #eee solid 1px;
}
#sub_title>.sub_navi>.wrap>.gnb>li>.submenu>li:hover{
    background-color: #dedede;
}

/* 회사소개 section내용 */
#company_start>article>.wrap>h3{
    text-align: left;
    color: #111;
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    margin: 60px 0 40px 0;
}

#sub_tab>ul{
    display: flex;
    justify-content: center;
}
#sub_tab li{
    position: relative;
    float: left;
    width: 227px;
    height: 58px;
    line-height: 58px;
    margin-left: -1px;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ff6a00;
}
#sub_tab li a{
    display: block;
    width: 100%;
    height: 58px;
    line-height: 58px;
    color: #333;
    font-size: 18px;
    font-weight: 400;
}
#company_start{
    margin-bottom: 50px;
}
#company_start .wrap>#sub_tab li.on{
    border-color: #ff6a00;
    border-bottom: 0;
    z-index: 20;
}
.active{
    display: block;
}



#company_start .company_list .company_intro{
    width: 1100px;
    height: 1920px;
    margin: 80px auto 0;
    background: url(../images/intro_bg.jpg) no-repeat;
}
#company_start .company_list>ul>li{
    display: none;
}
#company_start .company_list>ul>li:first-child{
    display: block;
}

#company_start .company_list .company_intro p.intro_txt{
    color: #666;
    font-size: 13px;
    line-height: 24px;
    height: 274px;
    text-align: left;
    
}
#company_start .company_list .company_intro p.intro_txt.txt02{
    margin: 50px 0 0 665px;
}
#company_start .company_list .company_intro p.intro_txt.txt03{
    margin-top: 100px;
}
#company_start .company_list .company_intro p.intro_txt.txt04{
    margin-top: 50px;
}
#company_start .company_list .company_intro p.intro_txt.txt05{
    margin: 100px 0 0 600px;
}


#company_start .company_list .company_intro .intro_txt strong{
    display: block;
    color: #ff6a00;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 15px;
}
/* CEO인삿말 */
#company_start .company_list .company_ceo{
    padding: 50px 0;
}
#company_start .company_list .company_ceo h4{
    margin-bottom: 50px;
    color: #333;
    font-size: 34px;
    line-height: 46px;
    text-align: left;
}
#company_start .company_list .company_ceo p{
    text-align: left;
    color: #666;
    font-size: 16px;
    line-height: 24px;
}

/* vision 부문 */
#company_start .company_list .company_vision .vision_01{
    padding: 70px 0 30px 500px;
    text-align: left;
    height: 500px;
    width: 100%;
    background: url(../images/vision_img01.jpg) no-repeat;
    border-bottom:1px solid #e1e1e1
}
#company_start .company_list .company_vision .vision_01 li{
    margin-bottom: 30px;
    padding-left: 20px;
    color: #666;
    font-size: 16px;
    line-height: 24px;
    list-style: disc;
    
}
#company_start .company_list .company_vision .vision_01 li>strong{
    display: block;
    color: #111;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
}
#company_start .company_list .company_vision .vision_02{
    padding: 70px 0 30px 500px;
    text-align: left;
    height: 500px;
    width: 100%;
    background: url(../images/vision_img02.jpg) no-repeat;
}
#company_start .company_list .company_vision .vision_02 h4{
    margin-bottom: 40px;
    color: #333;
    font-size: 26px;
    line-height: 32px;
    font-weight: 400;
}
#company_start .company_list .company_vision .vision_02 .vision_t1{

    margin-bottom: 20px;
    color: #ff6a00;
    font-size: 20px;
    line-height: 32px;

}
#company_start .company_list .company_vision .vision_02 .vision_t2{
    margin-bottom: 50px;
    color: #666;
    font-size: 16px;
    line-height: 24px;
}

/* CI부문 */
#company_start .company_list .company_ci{
    text-align: left;
    margin: 80px auto 0;
}
#company_start .company_list .company_ci  h4{
    margin-bottom: 15px;
    color: #333;
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
}
#company_start .company_list .company_ci p{
    margin-bottom: 60px;
    color: #666;
    font-size: 16px;
    line-height: 24px;
}
#company_start .company_list .company_ci .ci_img01{
    margin-bottom: 80px;
}

#company_start .company_list .company_ci a{
    display: block;
    width: 105px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background: #242424;
}


#company_start .company_list .company_ci .ci_img02{
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 30px;
    padding-bottom: 60px
}
/* History 부문 */
#company_start .company_list .company_history .history-tab{

    width: 560px;
    margin: 0 auto 40px;
    overflow: hidden;
}

#company_history>div>h3{
    padding-top: 80px;
    margin-bottom: 60px;
    color: #333;
    font-size: 46px;
    font-weight: 500;
    text-align: center;
}
#company_history>div>.history_tab{
    display: block;
    height: 30px;
    margin: 0 auto 30px;
    width: 650px;
}
#company_history>div>.history_tab>li{
    float: left;
    width: 120px;
    margin: 0 20px;
    color: #bebebe;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    border-bottom: 3px solid #e9e9e9;
    text-align: center;
    cursor: pointer;
}
#company_history>div>.history_tab>li.on{
    color: #ff6a00;
    border-color: #ff6a00;
}
#company_history>div .history_wrap>div{
    display: none;
}
#company_history>div .history_wrap>div:first-child{
    display: block;
}

#company_history>div .history_list tr{
    border-bottom: 1px solid #e1e1e1;
}
#company_history>div .history_list tr th{
    width: 100px;
    padding: 25px 0;
    color: #333;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    text-align: center;
}
#company_history>div .history_list tr td.month{
    width: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    font-weight: 500;
    font-size: 16px;
}
#company_history>div .history_list tr .his_ul li{
    margin-top: 15px;
}
#company_history>div .history_list tr td{
    padding: 30px 0;
    color: #666;
    font-size: 16px;
    margin-top: 15px;
    text-align: left;
}
#company_history>div .history_list table{
    width: 100%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
    word-break: break-all;
}
#company_history>div .history_list .history_table1,#company_history>div .history_list .history_table2{
    float: left;
    width: 520px;
}

#m_main_slide,#m_header_wrap{
    display: none;
}
#m_header_menu{
    display: none;
}
#company_start>article .company_list .company_intro p.intro_txt .m_compnay_img,
#company_start .company_list .company_vision img,
#m_footer
{
    display: none;
}
@media all and ( max-width: 769px ){

}

@media all and ( max-width: 425px ){
    html, body {
        max-width: 100%;
        overflow-x: hidden;
        }
        
    .wrap{
        width: 425px;
    }
    
    #slide img{
        width: 100%;
    }
    #gnb_top,section>article>.wrap>h3,
    section>article>.wrap>span,
    section>article>.wrap>p,.main_header{
        display: none;
    }
    #m_header_wrap{
        display: block;
        width: 100%;
        height: 55px;
        background: #ff6a00;
    }
    #m_header{
        background: #ff6a00;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    #m_header .gnb_shop {
        display: block;
        float: left;
        width: 45px;
        height: 20px;
        margin: 18px 0 0 15px;
        color: #ff6a00;
        font-family: "Noto Sans";
        font-size: 0.7rem;
        line-height: 20px;
        font-weight: 500;
        text-align: center;
        border-radius: 3px;
        background: #ffe1cc;
    }
    #m_header img{
        width: 90px;
        padding: 14px 0 0 0;
    }
    #m_header i{
        display: block;
        width: 100%;
        font-size: 2rem;
        color: #fff;
    }
    #m_header_menu{
        overflow-x: auto;
    }
    #m_header_menu ul{
        display: flex;
        width: 9999999%;
    }
    #m_header_menu a{
        display: inline-block;
        padding: 0;
        font-size: 15px;
        font-weight: 600;
        height: 46px;
        line-height: 46px;
        color: #666;
    }
    #m_header_menu li{
        padding: 0 15px;
    }








    #main_slide_wrap{
        display: none;
    }
    #m_main_slide{
        display: block;
        position: relative;
    }
    #m_main_slide img{
        width: 100%;
    }
    .slick-dots{
        position: absolute;
        bottom: 5%;
        left: 35%;
        display: flex;
        justify-content: center;
        
    }
    .slick-dots li{
        text-decoration: none;
        background: #000;
        color: #666;
        border-radius: 5px;
        padding-left: 10px;
        outline: 0;
    }
    

    section>article>.wrap #main_tab{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 40px;
    }
    section>article>.wrap #main_tab img{
        display: none;
    }

    section>article>.wrap #main_tab li.on{
        color: #fff;
        border: 1px solid #ff6a00;
        background: #ff6a00;
    }
    section>article>.wrap #main_tab li {
        font-size: 15px;
        color: #666;
        border: #666 1px solid;
        border-collapse: collapse;
        border-spacing: 1px;
        height: 35px;
        line-height: 35px;
        width: 192px;
        padding: 0;
    }
    section>article>.wrap #main_tab li a{
        height: 35px;
        width: 192px;
        padding: 0%;
    }

    #main_box1 img{
        width: 125px;
        height: 125px;
    }







    #community{
        display: none;
    }
    footer>.wrap{
        flex-direction: column;
        display: none;
    }
    .footer_family img,.footer_l img{
        display: none;
    }
    footer>.wrap>.footer_m>.footer_menu{
        display: none;
    }
    footer>.wrap>.footer_r{
        float: left;
    }
    #m_footer{
        display: block;
    }
    #m_footer>.m_footer_top>ul{
        display: flex;
        justify-content: space-around;
        border-top: 1px  solid #bbb;
    }
    #m_footer>.m_footer_top>ul>li{
        width: 115px;
        height: 22px;
        padding: 20px 0;
        text-align: center;
        align-items: center;
        font-size: 15px;
        color: #666;
    }
    #m_footer>.m_footer_top>ul>li>select{
        font-size: 15px;
        border: none;
        color: #666;
        font-family: "Noto Sans";
    }

    #m_footer>.m_footer_bottom, #m_addres{
        background: #eaeaea;
    }
    #m_footer>.m_footer_bottom>ul{
        display: flex;
        justify-content: space-around;
        border-top: 1px  solid #bbb;
        border-bottom: 1px  solid #bbb;
    }
    #m_footer>.m_footer_bottom>ul>li{
        width: 115px;
        height: 22px;
        padding: 20px 0;
        text-align: center;
        align-items: center;
        font-size: 15px;
        color: #666;
    }
    #m_addres>p{
        font-size: 13px;
        text-align: center;
        color: #999;
        padding: 20px 0;
        height: 120px;
    }
    /* company 부문 */
    body{
        width: 426px;
        overflow: hidden;
    }
    #sub_title{
        display: none;
    }
    #sub_tab{
        overflow-x: auto;
        padding-left: 40px;
    }
    #sub_tab>ul{
        padding-top: 10px;
        border-top: 1px solid black;
    }
    #sub_tab>ul>li{
        border: none;
    }
    #sub_tab>ul>li>a{
        width: 100px;
        display: block;
    }
    #company_start .wrap>#sub_tab li.on{
        border-bottom: 5px solid #ff6a00;
        z-index: 20;
    }
    
    #m_header{
        width: 425px;
    }
    #company_start>article .company_list .company_intro p.intro_txt{
        word-wrap: break-word;
        width: 400px;
    }
    #company_start>article .company_list .company_intro div{
        width: 400px;
        padding: 10px 0 0 10px;
    }

    #company_start>article .company_list .company_intro p.intro_txt.txt02,
    #company_start>article .company_list .company_intro p.intro_txt.txt05 {
        margin: 0;
    }

    #company_start>article .company_list .company_intro p.intro_txt .m_compnay_img{
        display: block;
        width: 400px;
    }
    

    /* vision 부문 */
    #company_start .company_list .company_vision{
        height: 1400px;
    }

    #company_start .company_list .company_vision .vision_01,
    #company_start .company_list .company_vision .vision_02{
        padding: 0;
        margin: 0;
    }

    #company_start .company_list .company_vision .vision_01{
        height: 800px;
    }

    #company_start .company_list .company_vision .vision_02 * {
        padding-left: 20px;
    }

    #company_start .company_list .company_vision .vision_02 h4{
        font-size: 1.3rem;
        color: #ff6a00;
    }
    
    #company_start .company_list .company_vision .vision_02 .vision_t1,
    #company_start .company_list .company_vision .vision_02 .vision_t2{
        color: #666;
        font-size: 0.7rem;
    }

    #company_start .company_list .company_vision ul{
        display: block;

    }

    #company_start .company_list .company_vision img{
        display: block;
        width: 420px;
        text-align: center;
    }

/* CI 부문 */

    
    .company_ci img{
        width: 420px;
    }
    .company_ci h4,
    .company_ci p
    
    {
        padding-left: 20px;
    }

    /* 연혁 부문 */
    #company_history{
        height: 1300px;
    }
    #company_history .history_tab{
        padding: 0;
        max-width: 420px;
    }
    #company_history>div>.history_tab>li{
        margin: 0;
        padding: 0;
        width: 96px;
        font-size: 12px;
    }
    #company_history>div .history_list tr>th{
        font-size: 12px;
        width: 70px;
        padding: 10px 0 0 0 ;
        line-height: 12px;
    }
    #company_history>div .history_list tr td{
        padding: 0;
        font-size: 12px;
        width: 300px;
        word-wrap: normal;
    }


}